<div class="formRoles">
    <h1 mat-dialog-title>Agregar | Modificar Roles</h1>
    <div mat-dialog-content>

        <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input matInput [(ngModel)]="data.nombre">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Descripcion</mat-label>
            <input matInput [(ngModel)]="data.descripcion">
        </mat-form-field>


    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="saveData()" class="button-save">Guardar</button>
    </div>
</div>