<div class="formLaboratorios">
    <h1 mat-dialog-title>Agregar | Modificar Laboratorios</h1>
    <div mat-dialog-content>

        <mat-form-field>
            <mat-label>Código</mat-label>
            <input matInput [(ngModel)]="data.codigo">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input matInput [(ngModel)]="data.nombre">
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>Nit</mat-label>
            <input matInput [(ngModel)]="data.nit">
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>Telefono</mat-label>
            <input matInput [(ngModel)]="data.telefono">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Celular</mat-label>
            <input matInput [(ngModel)]="data.celular">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="data.email">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Direccion</mat-label>
            <input matInput [(ngModel)]="data.direccion">
        </mat-form-field>


    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="saveData()" class="button-save">Guardar</button>
    </div>
</div>