<div class="formMedicamentos">
    <h1 mat-dialog-title>Agregar | Modificar Datos de Inventario</h1>
    <div mat-dialog-content>

        <mat-form-field>
            <mat-label>Fecha Caducidad</mat-label>
            <input type="date" matInput [(ngModel)]="data.fechaCaducidad">
        </mat-form-field> 

    
        <mat-form-field>
            <mat-label>Nombre Laboratorio</mat-label>
            <mat-select [(ngModel)]="data.codigoLaboratorio">
              <mat-option *ngFor="let laboratorio of laboratorios" [value]="laboratorio.nombre">{{ laboratorio.nombre }}</mat-option>
            </mat-select>
          </mat-form-field>    
        <mat-form-field>
            <mat-label>Cantidad</mat-label>
            <input type="number"  matInput [(ngModel)]="data.cantidad">
        </mat-form-field>       
        <mat-form-field>
            <mat-label>Nro. Lote</mat-label>
            <input matInput [(ngModel)]="data.nroLote">
        </mat-form-field>                     

    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="saveData()" class="button-save">Guardar</button>
    </div>
</div>